body{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    /* background-image: url("https://github.com/insper-classroom/devlife-23-1-projeto-pygame-deena-e-julia-3/blob/main/docs/fundo%20site%20done.png?raw=true"); */
    background-image: url("potter\ pixelado.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;

    /* background-size: 4rem; */
    
}


h1 {
    text-align: center;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    /* background-color: white; */
}
h2 {
    color: rgb(0, 0, 0);

}

footer {
    /* background-color: black; */
    color: black;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;

}

.content {
    width: 60%;
    max-width: 800px;
    background-color: rgb(236, 236, 194);
    padding-left: 1rem;


}