@font-face {
    font-family: 'Mario Kart';
    src: url('Mario_Kart.ttf') format('truetype');
}

body{
    background-color:rgb(236, 236, 194);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 0%;

    
}

.pagina1{
    background-image: url("potter\ pixelado.gif");
    background-size: 1500px 600px;
    background-repeat: no-repeat;
    height: 30%;
    width: 101%;
    width: 100%;
   
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    font-size: 38px;
    
}

.sobre{
    background-position: top;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: (236, 236, 194);
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;


}

.instrucoes{
    background-position: top;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: (236, 236, 194);
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;

}

.nomes{
    background-position: top;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: (236, 236, 194);
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;

}
.log{
    background-position: top;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: (236, 236, 194);
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 20px;  
    padding-right: 20px;

}

.telas {
    
    background-position: top;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: (236, 236, 194);
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 18px;
    padding-right: 20px;

}

.heurísticas{
    background-position: top;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: (236, 236, 194);
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 18px;
    padding-right: 20px;
}
table {
    width:100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 3px solid #ccc;

}
.link{
    background-position: top;
    background-color: white;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: (236, 236, 194);
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 18px;
    padding-right: 20px;

}
h1 {
    text-align: center;
    font-family: 'Mario Kart';
    color: rgb(0, 0, 0);
}
h2 {
    color: rgb(0, 0, 0);

}

footer {
    color: black;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;

}

.content {
    width: 100%;
    height: 80px;
    background-color:rgb(236, 236, 194);
    align-items: left;
    display: flex;

}

.linha {
    background-color: white;
}
footer{
    background-color: black;
    color:white
  }
frame{
    text-align: center;
}

div.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 30%;
}

div.header:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
}